body {
  background-color: #121212; /* темный фон */
  color: #f0f0f0; /* мягкий белый */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 15px;
}

header, footer {
  text-align: center;
  padding: 10px 0;
  background-color: #8b0000; /* темный красный */
  color: #f0f0f0;
}

h1, h2 {
  margin: 10px 0;
}

button {
  background-color: #b22222; /* мягкий красный */
  color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ff4d4d;
}

#news p, #predictions .match-card {
  border: 1px solid #b22222;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #1e1e1e;
}

#score {
  text-align: center;
  font-size: 1.2em;
  margin: 10px 0;
}

button:active {
  transform: scale(0.95);
}

.match-card {
  transition: transform 0.2s;
}

.match-card:hover {
  transform: scale(1.02);
}

input[type="text"] {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #b22222;
  background-color: #1e1e1e;
  color: #f0f0f0;
  width: 100px;
  margin-right: 5px;
}
